body
{
  font-family: 'Lato', sans-serif;
  background-image: url(Images/vertical_code.jpg);
}

.titre
{
  font-size: 48px;
  width: 100%;
}

.metier
{
  width: 100%;
}

.titre, nav, .progress
{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.jumbotron
{
  background-color: rgba(255, 255, 255, .6);
  border-radius: 0;
}

.navbar-collapse
{
    font-size: 18px;
}

.navbar-nav
{
  width: 100%;
  justify-content: space-around;

}

.navbar-dark .navbar-nav .nav-link
{
    margin-top: .6rem;
      color: #c7dced;
}

#competences
{
  display: flex;
  align-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #c7dced;
  padding-top: 20px;
  padding-bottom: 20px;
}
.progress
{
  margin: 10px;
  background-color: rgba(2, 26, 70, 0.6);
  align-items: center;
  height: 20px;
}

.progress-bar
{
  height: 20px;
}

#front, #back
{
  margin-bottom: 20px;
}
